.login-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    max-height: 100vh;
}
  
  .login-img{
    min-width:60px;
    max-width: 280px;
    max-height: 90vh;
    flex-grow: 3;
  }
  
  .signup-img{
    min-width:50px;
    max-width: 230px;
    max-height: 90vh;
    flex-grow: 3;
  }

  .form-content-signup, .form-content-login{
    padding: 1em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width:100vw;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
  }
  
  .form-content-signup h1, .form-content-login h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .form-content-signup input, .form-content-login input{
    background-color: #FCFCFC;
    padding: 0.5em;
    margin: 1em 0;
    width: 85%;
    border: 1px solid #322F20;
    border-radius: 7px;
  }
 
  .btn-register{
    width: 100px;
  }

  .btn-google{
    background: #ffffff;
    color: #444444;
    padding: 4px;;
    width: 200px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
  }

  .icon-google{
    background: url('img/btn_google2.png') transparent no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
  }
  
  .button-text-google{
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
  
  }
  
  .error-message{
    font-size: 0.8rem;
    font-weight: bold;
    color: red;
    margin: 1em;
  }
  
  
  @media only screen and (min-width: 576px){
  
    .login-page{
      height: 100vh;
    }
    
    .login-img{
      width: 600px;
      max-width: 350px;
    }
  
    .form-content-signup {
      max-width:100vw;
      height: 80vh;
      flex-direction: row;
      justify-content:space-around;
    }
  
    .form-content-login {
      max-width: 400px;
    }
  
    .register-input{
      width: 500px;
    }
  }
  