
body { 
  
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  padding: 15px;
  background: #dcdcdc url("fotos/logo-half-2.png") no-repeat fixed 50% 50%;

}


/*para celular*/

@media (max-width:780px) {

.container-login{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

img { 

  align-items: center;
  height: 25%;
  width:80%;

}

.titulo{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;

}

.form{

  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
 
}

.primary-button {
  background-color: #fdef4e;
  padding: 6px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  
}
.primary-button:focus {
  outline: none;
  border-bottom: 2px solid #FF007A;
}

a{

  color:#fdef4e;
}

.input {

  border: solid 1px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  width: 220px;
  
}
.erro {
  color: red;
  text-align: center;
}

}