body {
  background: #F5F5F4;
}

.text-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 29px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-welcome, .js-input-email, .js-input-password, .primary-button, .error-email, .error-password, .text, .text-profile {
  font-family: sans-serif;
}

.text-welcome {
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  color: #EC6345;
}

.logo {
  border-radius: 150px;
  width: 100%;
  margin-top: 30px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.js-input-email, .js-input-password, .inp-name-profile, .inp-age-profile, .inp-profession-profile {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(128, 73, 73, 0.25);
  border-radius: 9px;
  padding: 10px;
  margin-top: 20px;
}

.inp-age-profile{
  width: 97%;
}

.primary-button, .btn-profile {
  background: #EC6345;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 10px;
}

.btn-profile{
  margin-top: 10%;
}

.error-email {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

.error-password {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

.container-form-profile{
  background-color: #988a87;
  display: flex;
  width: 69%;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
  margin-left: 5%;
  border-radius: 4%;
  padding: 10%;
}

.text-profile{
  text-align: center;
  color: chocolate;
  margin-top: 16%;
}

/* ---------timeline------------------ */

label[for="navigation"] {
  display: block;
  margin-left: -2%;
  margin-top: -2%;
  padding: 5px;
  background-color: #EC6345;
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.navigation:checked~.menu {
  margin-left: 0;
}

.menu {
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: -100%;
  transition: all .4s;
}

.menu ul {
  list-style: none;
  position: relative;
  margin-left: -14%;
  margin-right: 11%;
  margin-top: -1%;
}

.menu li:hover {
  background-color: rgb(238, 164, 147);
  color: rgb(255, 255, 255);
}

.menu ul li {
  width: 100%;
}

.menu li {
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #ec7f45;
  color: rgb(255, 255, 255);
}

.navigation {
  display: none;
}

.title-timeline {
  margin-top: -85px;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.users {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.img-usuario {
  margin-left: -30%;
  margin-right: 10%;
  width: 32%;
  height: 5%;
}

.container-publish {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 317px;
  height: 210px;
  margin-top: 10%;
  background: #524D47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.textarea-publish {
  display: flex;
  justify-content: center;
}

.post-text {
  margin-top: 8%;
  background: #FBFBFB;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

select {
  font-family: sans-serif;
  text-align-last: center;
}

.slc-privacy {
  width: 22%;
  margin-top: -7%;
  margin-left: 74%;
}

.info-like-privacy {
  display: flex;
  justify-content: space-between; 
}

.slc-privacy-post {
  width: 22%;
  height: 1%;
}

.like-post {
  width: 10%;
}

.images-publish {
  margin-top: 2%;
  display: flex;
  justify-content:space-around;
}

.img-public {
  width: 44px;
  height: 42px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-right: 30%;
  margin-top: -2%
}

.btn-publicar {
  width: 106px;
  height: 35px;
  background: #EC6345;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container-public {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 317px;
  margin-top: 10%;
  background: #968B7D;
  border-radius: 10px;
  font-family: sans-serif;
}

.data-date-public {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 15px;
  color: #FFFFFF;
}

.publication-public {
  background: #ffffff;
  width: 100%;  
}

.likes {
  margin-top: -2%;
}

.info-post {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.edit-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #968B7D;
  border: none;
}

.save-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #968B7D;
  border: none;
}

.delete-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #968B7D;
  border: none;
}

@media (min-width: 1280px) {
  
  .logo {
    margin-left: 35%;
    border-radius: 150px;
    width: 30%;
    margin-top: 30px;
  }

  label[for="navigation"] {
    display: none;
  }
  .menu {
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    margin-left: 10%;
    transition: none;
  }

  .menu ul {
    position: none;
    margin-left: none;
    margin-right: none;
    margin-top: none;
  }

  .menu li {
    background-color: #EC6345;
  }
 
  .title-timeline {
    margin-top: 0%;
    font-size: 36px;
  }

  .users {
    display: flex;
    justify-content: start;
    margin-top: 10%;
  }

  .img-usuario {
    margin-left: 15%;
    margin-right: 0%;
    margin-top: -3%;
    width: 10%;
  }

  .container-publish {
    width: 400px;
    height: 230px;
    margin-top: -10%;
  }

  .post-text {
    width: 300px;
    height: 140px;
  }

  .container-public {
    width: 400px;
    margin-top: 2%;
  }

} 