body{
  background: #F5F5F4;
}

.text{
  text-align: center;
}

#text-low{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 29px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-boas-vindas{
  font-size: 20px;
  line-height: 38px;
  color: #EC6345;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img{
  border-radius: 150px;
  margin-left: initial;
  width: 343px;
  margin-top: 30px;
}

.input{
  margin-left: 48px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 10px;
  margin-top: 20px;
}

.primary-button {
  background: #EC6345;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-left: 55px;
  margin-top: 15px;
}
.faixa-topo{   
  width: 360px;
  height: 58px;
  left: 0px;
  top: 0px;
  background: #EC6345;
display: block
}

.nametimeline{
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  margin-left: 120px;
}
