@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@media (max-width: 750px) {

  .primary-button {
    background-color: #fefefe;
    padding: 5px;
    font-size: 14px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 20%;
  }

  .content {
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: auto;
  }

  .google-btn {
    background-image: url('./google-icon2.png');
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 30px;
  }

  .background {
    background-color: #ffa05a;
    font-family: 'Ubuntu', sans-serif;
    color: #f0f4f3;
  }

  .logo {
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translate(140px, 10px);
  }

  .js-email-input {
    border-radius: 30px;
    padding: 5px;
    width: 50%;
  }

  .js-password-input {
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
  }
  .textarea{
    width: 90%;
  }

  .postMessage{
  margin: 5px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  list-style: none;
  border-color: gray;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  color: black;

  }
}

@media (min-width: 760px) {
.container{
float: none;

}

.logo {
  width: 15%;
  transform: translate(140%,120%);
}

#h2{
  transform: translate(40%,-150%);
}

.content {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  transform: translate(40%,-16%);
  width: 70%;
}

.google-btn {
  background-image: url('./google-icon2.png');
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 30px;
}

.background {
  background-color: #ffa05a;
  font-family: 'Ubuntu', sans-serif;
  color: #f0f4f3;
}

.image{
  background-image: url('./image.png');
}

.primary-button {
  background-color: #ffffff;
  padding: 10px;
  font-size: 14px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 10%;
}

.js-email-input {
  border-radius: 30px;
  padding: 10px;
}

.js-password-input {
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
}
.post{
  width: 45%;
  display: flex;
  flex-direction: column;
  transform: translate(400px, -90px);
  border-radius: 30px;
  border-color: gray;
  list-style: none;
}

.postMessage{
  display: flex;
  justify-content: flex-end;
  transform: translate(-570px, 190px);
  margin: 5px;
  padding: 10px;
  border: solid;
  border-color: gray;
  border-radius: 5px;
  background-color: #ffffff;
  list-style: none;
}
}
