* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}
.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}
img {
  height: 120px;
  display: flex;
  margin: auto;
}
.name-network {
  color: #FF1C14;
  font-size: 200%;
  margin: auto;
  text-align: center;
  padding: 5%;
}
.text-simple {
  text-align: center;
  padding: 3%;
}
.alertMessage{
  text-align: center;
  padding: 1%;
  color: #FF1C14;
  font-weight: bold;
}
.primary-box{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#iGoogle.primary-button{
  background-color: #DB4437;
  border-radius: 100%;
  height: auto;
}
.fa-google{
  color: white;
}
#register.primary-button{
  display: block;
  margin: auto
}
#create-account.primary-button{
  margin: 5%;
}
.primary-icon{
  border:1px solid #FFC44F;
  border-radius: 1%;
}
.primary-icon-delete{
  position: absolute;
  right: 5%;
  margin: 2% 4%;
  font-weight: 900;
  color: red;
}
.primary-icon-like{
  position: absolute;
  margin-bottom: 1%;
  left: 80%;
  align-self: flex-end;
}
.primary-icon-edit{
  position: absolute;
  left: 10%;
  align-self: flex-end;
  margin: 1%;
}
.primary-icon-save{
  position: absolute;
  left: 21%;
  align-self: flex-end;
  margin: 1%;
}
.primary-button {
  background-color: #FFC44F;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.primary-button:hover {
  color: #E85531;
}
.post-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.primary-input  {
  border-radius: 15px;
  display: flex;
  padding: 5px;
  margin: 0 10%;
}
.js-post {
  height: 80px;
  width: 85%;
}

.description {
  display: flex;
  justify-content: flex-start;
  padding: 6%;
}

.avatar {
  height: 70px;
  margin: 0;
}

.name-display{
  margin-left: 10%;
}

.card {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 90%;
  padding: 2%;  
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #ff1c14;
  padding: 2% 2% 15% 2%;
}

.card-name{
  display: inline-block;
  font-size: 90%;
  font-weight: bolder;

}
.card-post {
  display: inline-block;
  word-wrap: break-word;
}

.card-time {
  display: inline-block;
  font-size: 70%;
  align-self: flex-start;
  padding: 1%;
}
.menu {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  list-style: none;
}
#history{
  margin:0;
  padding:0;
}
@media screen and (min-width: 992px){
  .box {
    display: flex;
    justify-content: center;
  }
  .header {
    flex-grow:1;
    display: flex;
  }
  img {
    height: auto;
  }
  .login-box{
    flex-grow:1;
    padding:2%;
    box-sizing:border-box;
  }
  .primary-input  {
    width: 60%;
  }
}
