body,html{
  margin: 0;
  padding: 0;
  }

.banner{
	max-width:100%;
  min-height:25vh;
  background: url("img/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.logotipo{
  color: #fff;
  background-color:#4c87df;
  text-align: left;
  margin: 0px;
  padding:1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 6vh;
  background: #4c87df;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 20%;
  /* position: absolute;
  right: 3%;
  height: 12vh;
  top: 0vh;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%); */
}




.nav-links li{
  list-style: none;
  opacity: 0px;
}


.nav-links a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}
 

.burger div{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
} 

input{
  display: flex;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: rgba(255,255,255,0.7);
  border:1px solid #000000;
  width:250px;
  height: 30px;
  position: relative;
  left: 50%;
  margin-left: -120px;
}
.js-email-input{
  text-align: center;
}
.js-password-input{
  text-align: center;
}
.username{
  text-align: center;
}

h2 {
  text-align: center;
}

.text-center {
  text-align: center;
}
.post{
  text-align: center;
}

/* web margin-left:483px */
.text-centro{
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 173px;
}

body{
  background-color: rgba(231, 231, 231, 0.884);
  font-family: arial;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}


  .bntgoogle{
    margin-top: 14px;
    width: 128px;
    height: 40px;
    border: none;
    background: #FF007A;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    color: #FFFFFF;
  }
  .bntentrar:focus {
    outline: none;
  }

  .bntentrar:hover {
    cursor: pointer;  
  }

  .bntentrar:active {
    background-color: #C6005F;
  }

.register-link{
font-size: 17px;
text-align: center;
min-height: 14vh;
margin: 0;
padding-top: 24px;
width: 100%;
}
.bntentrar {
  background-color: rgb(198, 112, 0);
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #C6005F;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: aqua;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: #e2cd0a;
  border-image: initial;
}

  
footer{
background-color: rgb(207, 206, 205);
font-size: 14px;
text-align: center;
min-height: 5vh;
margin: 0;
padding-top: 4px;
width: 100%;
}

@media screen and (max-width:1400px){
  .banner{
    max-width:100%;
    min-height:25vh;
    background: url("img/m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 34px;
  }
  .nav-links{
    width:100%;
  } 
  .burger{
    display: none;
  }
}

@media screen and (max-width:768px){
  body{
  overflow-x: hidden;
  cursor: pointer;
  }

  .burger{
    display: block;
  }
  .nav-links{
    position: absolute;  
    display: flex;
    width: 182%;
    right: 3%;
    height: 23vh;
    top: 2vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }
}

.nav-active{
  transform: translateX(0%);
}



  








/*.primary-button {
  background-color: #ffe521;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}*/
