main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.primary-button {
  background-color: #014034;
  padding: 3px;
  width: 70px;
  font-size: 0.7rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.textarea-local{
  margin-top: 10px;
  align-items: center;
}
.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.form-login input{
  margin: 5px;
  text-align: center;
}
.form-login button{
  margin: 5px;
  text-align: center;
}
.text-main{
  text-align: center;
}
.image-logo{
  align-items: center;
}


