.primary-button {
  background-color: rgb(162, 170, 162);
  /* padding: 10px; */
  font-size: 0.8rem;
  color: white;
  border-radius: 25px;
  /* font-weight: bold; */
  border: none;
  cursor: pointer;
  height: 25px;
  width: 100px;
  margin-top: 5px;
  
}

.subtitle {
  font-size: 0.8rem;
}
.google{
  color: rgb(149, 57, 172);
  cursor: pointer;
}

.box-login {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.entrada {
  background-color: rgb(190, 190, 221);
  border-radius: 20px;
  height: 25px;
  margin: 5px 5px 5px 5px;
}

/* .logo {
  height: 50%;
  width: 50%;
} */

main{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}


@media (min-width: 500px) {

.logo {
  size: 50%;
  /* display: inline-block; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* margin-right: 60%; */
  /* text-align: center;   */
}
  .box-login {
    /* display: inline-block; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* margin-left: 60%; */
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}


