body {
  background: #F5F5F4;
}

.text-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 29px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-welcome, .js-input-email, .js-input-password, .primary-button, .error-email, .error-password, .text {
  font-family: sans-serif;
}

.text-welcome {
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  color: #EC6345;
}

.img {
  border-radius: 150px;
  width: 100%;
  margin-top: 30px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.js-input-email, .js-input-password {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(128, 73, 73, 0.25);
  border-radius: 9px;
  padding: 10px;
  margin-top: 20px;
}

.primary-button {
  background: #EC6345;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 10px;
}

.error-email {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

.error-password {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

.faixa-topo {
  width: 360px;
  height: 58px;
  left: 0px;
  top: 0px;
  background: #EC6345;
  display: block
}

.nametimeline {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  margin-left: 120px;
}

@media (min-width: 1280px) {
  .img {
    margin-left: 35%;
    border-radius: 150px;
    width: 30%;
    margin-top: 30px;
  }
}