body,html{
  margin: 0;
  padding: 0;
  }

body{
  background-image: url("img/m.jpg");
  font-family: arial;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  overflow: hidden;
}

.banner{
	max-width:100%;
  min-height:25vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.logotipo{
  color: #fff;
  background-color:#4c87df;
  text-align: left;
  margin: 0px;
  padding:1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 6vh;
  background: #4c87df;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li{
  list-style: none;
  opacity: 0px;
}


.nav-links a{
  color:white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}
 

.burger div{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
} 

input{
  display: flex;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: rgba(255,255,255,0.7);
  border:1px solid #000000;
  width:250px;
  height: 30px;
  position: relative;
  left: 50%;
  margin-left: -120px;
}
.js-email-input{
  text-align: center;
}
.js-password-input{
  text-align: center;
}
.username{
  text-align: center;
}

h2 {
  text-align: center;
  color: #fff;
}

.text-center {
  text-align: center;
}
.post{
  text-align: center;
}

.box
{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 419px;
  padding: 34px;
  background: rgba(0,0,0,.4);
  box-sizing: border-box;
  box-shadow: 0 35px 25px rgba(0,0,0,.2);
  border-radius: 70px;
}

/* web margin-left:483px */
.text-centro{
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 173px;
}

  button.bntgoogle{
    margin-top: 32px;
    margin-left: 49%;
    border: -2px;
    padding: 0%;
    background:transparent;
    border-radius:18px;
    cursor: pointer;
  }

.bntentrar{
  display: flex;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: rgba(255,255,255,0.7);
  border:1px solid #000000;
  width:51px;
  height: 30px;
  position: relative;
  left: 27%;
  /* margin-left: -30px; */
  /* text-align: center; */
  }

.bntentrar:active {
  color: white;
  background-color:blue;
  }

.bntpost{
  display: flex;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: rgba(255,255,255,0.7);
  border:1px solid #000000;
  width:60px;
  height: 30px;
  position: relative;
  left: 50%;
  margin-left: -30px;
  text-align: center;
}

.bntpost:active {
  color: white;
  background-color:blue;
}

.buttonlogout{
  display: flex;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: rgba(255,255,255,0.7);
  border:1px solid #000000;
  width:60px;
  height: 30px;
  position: relative;
  left: 50%;
  margin-left: -30px;
  text-align: center;
}

.buttonlogout:active {
  color: white;
  background-color:blue;
}

.register-link{
font-family:cursive;
font-size: 20px;
text-align: center;
min-height: 5vh;
margin: 0;
padding-top: 1px;
width: 116%;
color: #fff;
}


button.delete, button.like {
  display: flex;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border: 2px outset #4c87df;
  border-radius: 20px;
}

.postCard {
  
  border: 2px solid grey;
  border-radius: 10px;
  margin: 8px;  

}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.postLikes {
  display: flex;
  justify-content: flex-end;
 
}

p.likes {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

p.text {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

footer{
  background-color: rgb(207, 206, 205);
  font-size: 14px;
  text-align: center;
  min-height: 5vh;
  margin: 0;
  padding-top: 4px;
  width: 100%;
}

@media screen and (max-width:1400px){
  /* .banner{
    max-width:100%;
    min-height:25vh;
    background: url("img/m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 34px;
  } */
  .nav-links{
    width:100%;
  } 
  .burger{
    display: none;
  }
  button.bntgoogle{
    margin-top: -61px;
    margin-left: 55%;
    border: -2px;
    padding: -10%;
    background:transparent;
    border-radius:18px;
    cursor: pointer;
  }
}

@media screen and (max-width:768px){
  body{
      background-image: url("img/m.jpg");
      font-family: arial;
      background-size: cover;
      background-repeat: no-repeat;
  overflow-x: hidden;
  }

  .burger{
    display: block;
  }
  .nav-links{
    position: absolute;  
    display: flex;
    width: 182%;
    right: 194%;
    height: 23vh;
    top: 2vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }
  .nav-links a{
    color:transparent;
}

button.bntgoogle{
  margin-top: -61px;
  margin-left: 55%;
  border: -2px;
  padding: -10%;
  background:transparent;
  border-radius:18px;
  cursor: pointer;
}

.nav-active{
  transform: translateX(0%);
}

  .postCard {
  
  border: 2px solid grey;
  border-radius: 10px;
  margin: 8px;  

}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.postLikes {
  display: flex;
  justify-content: flex-end;
 
}

p.likes {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

p.text {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}
