body {
  background: #F5F5F4;
}

.text-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 29px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-welcome, .js-input-email, .js-input-password, .primary-button, .error-email, .error-password, .text {
  font-family: sans-serif;
}

.text-welcome {
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  color: #EC6345;
}

.img {
  border-radius: 150px;
  width: 100%;
  margin-top: 30px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.js-input-email, .js-input-password {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(128, 73, 73, 0.25);
  border-radius: 9px;
  padding: 10px;
  margin-top: 20px;
}

.primary-button {
  background: #EC6345;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 10px;
}

.error-email {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

.error-password {
  font-size: 20px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 13px;
  margin-bottom: 0;
}

/* ---------timeline------------------ */
*{
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  height: 50px;
  background-color: #EC6345;
  font-family: sans-serif;
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li {
  width: 150px;
  float: left;
}

.menu li {
  padding: 15px;
  display: block;
  text-decoration:  none;
  text-align: center;
  background-color: #EC6345;
  color: rgb(255, 255, 255); 
}

.menu li:hover{
  background-color: rgb(238, 164, 147);
  color: #403B3A;
}

label[for="navigation"]{
  padding: 5px;
  background-color: #EC6345;
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#btn {
  display: none;
}

label[for="navigation"]{
  display: none;
}

.title-timeline {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #403B3A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media(max-width: 800px){

  label[for="navigation"]{
    display: block;
  }

  .navigation:checked ~ .menu{
    margin-left: 0;
  }

  .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
  }

  .menu li:hover{
    background-color: rgb(238, 164, 147);
    color: rgb(255, 255, 255);
  }

  .menu ul li{
    width: 92%;
    float: none;
  }

  .title-timeline {
    display: flex;
    margin-left: 32%;
    margin-top: -27%;
  }

  .img-usuario{
  position: absolute;
  width: 85px;
  height: 79px;
  left: 46px;
  top: 98px;
  border-radius: 40.5px;
  }

  .dados-usuario{
    display: block;
    margin-left: 41%;
    margin-top: 20%;}
  }

  .container-publicar{
    position: absolute;
    width: 317px;
    height: 191px;
    left: 22px;
    top: 201px;
    background: #524D47;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .campo-publicar{
    display: flex;
    width: 272px;
    height: 96px;
    margin-left: 6%;
    margin-top: 6%;
    background: #FBFBFB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .img-public{
    position: absolute;
    width: 44px;
    height: 42px;
    margin-left: 6%;
    margin-top: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .btn-publicar{
    width: 106px;
    height: 35px;
    margin-left: 59%;
    margin-top: 5%;
    background: #EC6345;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: block;
  }

  .container-publicado{
    display: flex;
    width: 317px;
    height: 142px;
    margin-left: 6%;
    margin-top: 73%;
    background: #968B7D;
    border-radius: 10px;
  }
 
  .img-curtir{
    width: 22px;
    height: 21px;
    margin-left: 7%;
    margin-top: 34%;
  }

  .img-compartilhar{
    width: 20px;
    height: 22px;
    margin-left: 3%;
    margin-top: 34%;
  }

@media (min-width: 1280px) {
  .img {
    margin-left: 35%;
    border-radius: 150px;
    width: 30%;
    margin-top: 30px;
  }
}
