*{
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #F5F5F4;
}
.container-login{
  display: flex;
  flex-direction: column;
  }

.img-logo{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-title {
  margin-top: 2%;
  text-align: center;
}

.text{
  color: #403B3A;
}

.text-welcome {
  margin-top: -5%;
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  color: #403B3A;
}

.info-login{
  margin-left: 19%;
  width: 62%;
  text-align: center;
}

.logo {
  border-radius: 150px;
  width: 100%;
  margin-top: 30px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.js-input-email, .js-input-password, .inp-name-profile, .inp-age-profile, .inp-profession-profile {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(128, 73, 73, 0.25);
  border-radius: 9px;
  padding: 10px;
  margin-top: 20px;
}

<<<<<<< HEAD
.primary-button,  .btn-profile, .btn-publicar, .slc-privacy {
  color: white;
=======
.inp-age-profile{
  width: 97%;
>>>>>>> master
}

.primary-button, .btn-profile {
  background: #8C2920;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn-profile{
  background: #8C2920;
  margin-top: 10%;
}

.error-email, .error-password {
  font-size: 15px;
  line-height: 13px;
  color: rgb(231, 46, 46);
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 6px;
  margin-bottom: 0;
}

.img-profile{
  margin-left: 24%;
  width: 47%;
}

.container-form-profile{
  background-color: #988a87;
  display: flex;
  width: 69%;
  flex-direction: column;
  align-items: center;
  margin-top: 11%;
  margin-left: 5%;
  border-radius: 4%;
  padding: 10%;
}

/* ---------timeline------------------ */

.section-menu{
  height: 90px;
  background-size: cover;
  background-image: url(images/header-fruit.jpg);
  margin-left: -2%;
}

label[for="navigation"] {
  display: block;
  margin-top: -2%;
  padding: 1%;
  background-color: #7BA651;
  color: #000000;
  text-align: center;
  font-size: 245%;
  cursor: pointer;
  width: 13%;
}

.navigation:checked~.menu {
  margin-left: 0;
}

.menu {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-left: -100%;
  transition: all .4s;
}

.menu ul {
  list-style: none;
  position: relative;
  margin-left: -14%;
  margin-right: 11%;
  margin-top: -1%;
}

.menu li:hover {
  background-color: #8C2920;
  color: rgb(255, 255, 255);
}

.menu ul li {
  width: 100%;
  cursor: pointer;
}

.menu li {
  display: block;
  text-align: center;
  background-color: #FF645A;
  color: rgb(255, 255, 255);
}

.navigation {
  display: none;
}
  
.img-timeline{
  display: block;
  width: 23%;
  margin-left: 6%;
  margin-top: -5%;
}

.title-timeline {
  margin-top: -20%;
  margin-left: 15%;
  font-weight: normal;
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.users {
  display: flex;
  justify-content: center;
  margin-top: 12%;
}

.img-usuario {
  margin-left: -8%;
  margin-top: 8%;
  margin-right: 12%;
  width: 27%;
  height: 5%;
}

.bio{
  font-size: 19px;
}

.container-publish {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #BC2920;
  border-radius: 4px;
}

.textarea-publish {
  display: flex;
  justify-content: center;
}

.post-text {
  margin-top: 8%;
  background: #FBFBFB;
 }

.images-publish {
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
}

select {
  text-align-last: center;
}

.slc-privacy, .btn-publicar {
  font-weight: bold;
  color: white;
  border: 1px solid gray;
}
.slc-privacy {
  height: 79%;
  background: #7BA651;
  border-radius: 4px;
}

.btn-publicar {
  margin-left: 1%;
  margin-right: 1%;
  background: #7BA651;
  border-radius: 4px;
}

.container-public {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 94%;
  margin-top: 10%;
  background: #9FBE80;
  border-radius: 10px;
}

.name-user {
  font-size: 14px;
  margin-left: -3%;
}

.data-date-public, .slc-privacy-post, .edit-post, .save-post, .delete-post {
  color: white;
  font-weight: bold;
}

.data-date-public {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 15px;
  color: #FFFFFF;
}

.publication-public {
  background: #ffffff;
  width: 100%;  
}

.info-like-privacy {
  display: flex;
  justify-content: space-between; 
}

.slc-privacy-post {
  margin-left: 70%;
  background: #9FBE80;
  border-radius: 6px;
  width: 28%;
  color: #FFFFFF;
}

.like-post {
  width: 14%;
  height: 2%;
}

.likes {
  color: white;
  font-weight: bold;
}

.info-post {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.edit-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #9FBE80;
  border: none;
}

.save-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #9FBE80;
  border: none;
}

.delete-post {
  font-size: 15px;
  color: #FFFFFF;
  background: #9FBE80;
  border: none;
}

@media (min-width: 1280px) {
/* ----- login */

  body{
    margin: 0;
    padding: 0;
  }

  .container-login{
    display: flex;
    flex-direction: row;
  }
    
  .container-form-perfil{
    margin-top: 10%;
<<<<<<< HEAD
  }
=======
    }
>>>>>>> master

  .img-logo{
    width: 65%;
    margin-top: 8%;
  }

  .text-welcome, .info-login, .text, .text-profile{
    color: black;
  }

  .text-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 29px;
<<<<<<< HEAD
  }  
=======
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
>>>>>>> master
  
  .text-welcome{ 
    margin-top: 2%;
    font-size: 20px;
    line-height: 38px;
<<<<<<< HEAD
  }  
=======
  } 

  .info-login{
    margin-top: 3%;
    margin-right: 6%;
    text-align: center;
    font-size: 18px;
    font-style: italic;
  }
>>>>>>> master
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ----- timeline */

  label[for="navigation"] {
    display: none;
  }
  .menu {
    width: 18%;
    margin-left: 83%;
    transition: none;
  }

  .menu li {
    background-color: #7BA651;
  }

  .section-menu{
    height: 110px;
  }

  .title-timeline {
    margin-top: -6%;
    margin-left: auto;
    font-size: 43px;
  }

  .img-usuario {
    margin-left: 10%;
    margin-right: 2%;
    width: 10%;
  }
  .users {
    display: flex;
    justify-content: start;
    margin-top: 6%;
    margin-left: -5%;
  }

  .bio{
    font-size: 19px;
  }  

  .container-publish {
    width: 45%;
    margin-top: -9.4%;
    margin-left: 37%;
  }

  .textarea-publish{
    margin-top: -4%;
  }

  .post-text {
    width: 100%;
    height: 69px;
  }

  .publication-public{
    background: #ffffff;
    width: 100%;
  }

  .slc-privacy {
    margin-left: 3%;
    height: 20px;
    background: #7BA651;
    border-radius: 4px;
    color: white;
  }

  .btn-publicar{
  margin-left: 1%;
  margin-right: 1%;
  background: #7BA651;
  border-radius: 4px;
  color: white;
  }

  .container-public {
    display: flex;
    flex-direction: column;
    margin-left: 37%;
    width: 45%;
    margin-top: 2%;
    background: #9FBE80;
    border-radius: 4px;
  }

  .publication-public{
    height: auto;
  }

  .like-post{
    width: 5%;
    height: 28px;
    margin-left: -2%;
    margin-top: 2%;
  }

  .slc-privacy-post{
    margin-left: 82%;
    height: 24px;
    margin-top: 5%;
  }

  .img-timeline{
    display: block;
    width: 23%;
    margin-left: 6%;
    margin-top: -5%;
  }

  /* ----- profile */

  .img-profile{
    display: block;
    width: 23%;
    margin-top: 4%;
    margin-left: 0%;
  }

  .text-profile{
    text-align: center;
    margin-top: -22%;
    font-size: 19px;
  }

  .container-form-profile{
    background-color: #9FBE80;
    display: flex;
    width: 43%;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-left: 27%;
    border-radius: 4px;
    padding: 2%;
    
  }

  .inp-age-profile, .inp-name-profile, .inp-profession-profile, .inp-image-profile{
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(128, 73, 73, 0.25);
    border-radius: 9px;
    padding: 10px;
    margin-top: 29px;
    width: 48%;
  }
}