* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: inherit;
}
.alertMessage{
  text-align: center;
  color: #FF1C14;
  font-weight: bold;
}
.avatar {
  height: 70px;
  margin: 0;
}
.card {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 90%;
  padding: 2%;  
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #ff1c14;
  padding: 2% 2% 15% 2%;
}
.card-name{
  display: inline-block;
  font-size: 90%;
  font-weight: bolder;
}
.card-post {
  display: inline-block;
  word-wrap: break-word;
}
.card-time {
  display: inline-block;
  font-size: 70%;
  align-self: flex-start;
  padding: 1%;
}
.description {
  display: flex;
  justify-content: flex-start;
  padding: 6%;
}
.fa-google{
  color: white;
}
.header {
  background-image: radial-gradient(#ffbb36 5%, #E85531);
  height: auto;
}
img {
  height: 120px;
  display: flex;
  margin: auto;
}
.js-post {
  height: 80px;
  width: 85%;
}
.menu {
  margin-left: -100%;
  width: 100%;
  transition: all .4s;
  position: absolute;
  
}
.menu ul {
  list-style: none;
  position:relative;
  display: inline-block;
}
.menu ul li{
  width: 100%;
  float: none;
  background-color: #FFC44F;
  
}
.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
}
.menu ul li:hover a{
  background-color: #FF1C14;
}
.name-display{
  margin-left: 10%;
}
.name-network {
  color: #FF1C14;
  font-size: 200%;
  margin: auto;
  text-align: center;
  padding: 4%;
}
.primary-box{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.primary-icon{
  border:1px solid #FFC44F;
  border-radius: 1%;
}
.primary-icon-delete{
  position: absolute;
  right: 5%;
  margin: 2% 4%;
  font-weight: 900;
  color: red;
}
.primary-icon-like{
  position: absolute;
  margin-bottom: 1%;
  left: 80%;
  align-self: flex-end;
}
.primary-icon-edit{
  position: absolute;
  left: 10%;
  align-self: flex-end;
  margin: 1%;
}
.primary-icon-save{
  position: absolute;
  left: 21%;
  align-self: flex-end;
  margin: 1%;
}
.primary-button {
  background-color: #FFC44F;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.primary-button:hover {
  color: #E85531;
}
.post-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.primary-input  {
  border-radius: 15px;
  padding: 5px;
  margin: 3%;
}
.text-simple {
  text-align: center;
  padding: 3% 0 1%;
}
#iGoogle.primary-button{
  background-color: #DB4437;
  border-radius: 50%;
  height: auto;
}
#register.primary-button{
  display: block;
  margin: auto
}
#create-account.primary-button{
  margin: 5%;
}
#forget.primary-button{
  background-color: transparent;
  font-weight: normal;
  padding: 2%;
  margin: 1%;
  font-size: 1rem;
  cursor: pointer;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ .menu{
  margin-left: 5%;
  display: block;
}
label[for="btn-menu"]{
  padding: 5px;
  text-align: left;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 2px solid  #FFC44F;
}
#history{
  margin:0;
  padding:0;
}
@media screen and (min-width: 992px){
  .box {
    display: flex;
    justify-content: center;
  }
  .header {
    flex:1 1 100%;
    display: flex;
  }
  img {
    height: auto;
  }
  .login-box{
    flex:1 1 100%;
    padding: 2%;
  }
  .register-box{
    flex:1 1 100%;
    padding: 2% 0 12%;
  }
  .update-box{
    flex:1 1 100%;
    padding: 14% 0 14%;
  }
  .primary-input  {
    width: 50%;
    margin: 2%
  }
}
